@model IEnumerable<Bibliotech.Models.Autor>

@{
    ViewData["Title"] = "Autores";
}

<p>
</p>
<div class="d-flex justify-content-between align-items-center">
    <h1 class="inter-bold">Autores</h1>
    <a asp-action="Create" class="inter-bold btn-sm btn-custom btn-custom-bg-blue">Novo Autor</a>
</div>
<table class="table inter-regular">
    <thead>
        <tr>
            <th class="inter-bold">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AutorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AutorId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
