@model IEnumerable<Bibliotech.Models.Livro>

@{
    ViewData["Title"] = "Livros";
}
<div class="d-flex justify-content-between align-items-center">
    <h1 class="inter-bold">Sua Biblioteca</h1>
    <a asp-action="Create" class="inter-bold btn-sm btn-custom btn-custom-bg-blue">Novo Livro</a>
</div>
<hr />
<div class="container d-flex justify-content-around flex-wrap pt-4">

    @foreach (var item in Model)
    {
        <a class="anchor-custom" asp-action="Details" asp-route-id="@item.LivroId">
            <div class="card-custom p-2">
                <div class="card-img-top-custom card-img-top">
                    <img src="@item.CapaUrl" alt="@item.Titulo" class="card-img-top-custom card-img-top">
                </div>
                <div class="m-0">
                    <h5 class="inter-medium m-0">
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </h5>
                    <p class="inter-regular m-0 text-secondary">
                        @Html.DisplayFor(modelItem => item.Autor.Nome)
                    </p>
                    <p class="inter-light">
                        <small class="text-secondary">
                            @Html.DisplayFor(modelItem => item.AnoLancamento)
                        </small>
                    </p>
                </div>
            </div>

        </a>
    }
</div>