@model IEnumerable<Bibliotech.Models.Livro>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between align-items-center">
    <h1 class="inter-bold">Sua Biblioteca</h1>
    <a asp-action="Create" class="inter-bold btn-sm btn-custom btn-custom-bg-blue">Novo Livro</a>
</div>
<hr />
@* <p class="inter-bold">Filtros</p>
<div class="d-flex">
    <div class="filter-item dropdown">
        <button class="inter-medium btn-sm btn-custom btn-custom-border-rounded dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="btn-custom-text">Categorias</span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var item in Model.GroupBy(x => x.Categoria.CategoriaId).Select(x => x.First()))
            {
                <li><a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => item.Categoria.Nome)</a></li>
            }
        </ul>
    </div>
    <div class="filter-item dropdown">
        <button class="inter-medium btn-sm btn-custom btn-custom-border-rounded dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="btn-custom-text">Autores</span>

        </button>
        <ul class="dropdown-menu">
            @foreach (var item in Model.GroupBy(x => x.Autor.AutorId).Select(x => x.First()))
            {
                <li><a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => item.Autor.Nome)</a></li>
            }
        </ul>
    </div> *@
@*     <div class="filter-item">
        <a class="inter-medium btn-sm btn-custom-border-rounded btn-custom btn-custom-bg-light" asp-action="Index">
            <span class="btn-custom-text">Todos os livros</span>
        </a>
    </div>
</div> *@
<div class="container d-flex justify-content-around flex-wrap pt-4">

    @foreach (var item in Model)
    {
        <div class="p-2" style="width: 9rem;">
            <div class="card-img-top" style="width: 100%; height: 11rem;">
                <img style="width: 100%; height:100%; object-fit: cover; object-position: center;" src="https://nivalmix.vteximg.com.br/arquivos/ids/192923-1000-1000/livro-o-pequeno-principe-principis.jpg?v=637592871872770000" alt="...">
            </div>
            <div class="m-0">
                <h5 class="inter-medium m-0">
                    @Html.DisplayFor(modelItem => item.Titulo)
                </h5>
                <p class="inter-regular m-0 text-secondary">
                    @Html.DisplayFor(modelItem => item.Autor.Nome)
                </p>
                <p class="inter-light">
                    <small class="text-secondary">
                        @Html.DisplayFor(modelItem => item.AnoLancamento)
                    </small>
                </p>
            </div>
        </div>
    }
</div>